<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.google.android.c2dm.permission.Reciever" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaktKosh"
        tools:targetApi="31">
        <activity
            android:name=".CampLocateMapActivity"
            android:exported="false" />
        <activity
            android:name=".AddressMapActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDpFXEbRDeqkuk-unk0-hYd54n-2wEe0b4" />

        <activity
            android:name=".PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddCAmpDetail"
            android:exported="false" />
        <activity
            android:name=".AdminDonationCampActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLogInActivity"
            android:exported="false" />
        <activity
            android:name=".UserChatActivity"
            android:exported="false" />
        <activity
            android:name=".RequestExploreActivity"
            android:exported="false" />
        <activity
            android:name=".BloodRequestActivity"
            android:exported="false" />
        <activity
            android:name=".EditUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RequestActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".OtpActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notification.FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.Recieve" />
            </intent-filter>
        </service>

        <receiver android:name=".CampReminder.MyReciever" />
    </application>

</manifest>